@import "normalize.css/normalize";
@import "./mixins";
@import "./code";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height-base;
  color: $gray-700;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: $font-size-base * 2.5;
}

h2 {
  font-size: $font-size-base * 2;
}

h3 {
  font-size: $font-size-base * 1.75;
}

h4 {
  font-size: $font-size-base * 1.5;
}

h5 {
  font-size: $font-size-base * 1.25;
}

h6 {
  font-size: $font-size-base * 1.10;
}

.container {
  width: 100%;
  padding-right: $spacer;
  padding-left: $spacer;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    max-width: $container-sm;
  }

  @media (min-width: $md) {
    max-width: $container-md;
  }

  @media (min-width: $lg) {
    max-width: $container-lg;
  }

  @media (min-width: $xl) {
    max-width: $container-xl;
  }
}

.img-fluid {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
    color: darken($primary, 10%);
  }
}

img {
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

code, pre {
  font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
