$font-size-base: 20px;
$font-size-small: $font-size-base * .875;
$font-size-mini: $font-size-base * .75;
$font-size-tiny: $font-size-base * .5;

$line-height-base: 1.3;

$primary: #782b90;
$code-bg: #3a2840;
$code-bg-inactive: #120d14;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6f6970;
$gray-700: #4d4d4d;
$gray-800: #3c3c3b;

$spacer: 1rem;

$border-radius: 1rem;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$button-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
$button-background-transition: background-color 0.15s ease-in-out;
