.community-section {
  margin-top: 4rem;
  margin-bottom: 7rem;
  text-align: center;

  h2 {
    margin-bottom: 2.5rem;
  }

  .community-section-main {
    display: flex;
    flex-wrap: wrap;
  }
}
