@import "../../css/variables";

.community-profile {
  flex: 1;

  img {
    max-width: 150px;
    border-radius: 75px;

    &.bordered {
      border: 1px solid $gray-200;
    }

    &.small {
      max-width: 50px;
      margin: 0.5rem;
    }
  }
}
