.cache/
.idea/
.next/
node_modules/
out/

# Do not put anything in the `public/docs` directory! Contents will be added
# automatically by 'npm update-docs'
public/docs/

# Do not put anything in the `public/feed` directory! Contents will be added
# automatically by the '/pages/blog/[[...slug]].jsx' script
public/feed/
