@import "../../css/variables";

.faq-question {
  border-top: 1px solid $gray-300;
  margin-top: $spacer * 2;
  padding-top: $spacer * 2;

  h3 {
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: $primary;
  }
}

.faq-question-chevron {
  width: $spacer * 2;
  transition: transform 150ms ease-in-out;

  &.visible {
    transform: rotate(90deg);
  }
}

.faq-question-answer {
  display: none;
  margin-left: $spacer * 2;

  &.visible {
    display: block;
  }
}
