@import "../../css/variables";

.blog {
  .blog-entries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $spacer * 4;

    @media (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
}
