@import "../../css/variables";

.github-stars-button {
  display: inline-block;
  margin-left: $spacer * 0.8;

  .button {
    min-width: 8rem;
  }

  @media (max-width: $sm) {
    margin-top: $spacer * 0.8;
  }

  @media (max-width: $sm) and (orientation: portrait) {
    margin-left: 0;
    display: block;
  }
}
