@tailwind components;

@layer components {
  /* headings */
  .docs-contents h1 a,
  .docs-contents h2 a,
  .docs-contents h3 a,
  .docs-contents h4 a,
  .docs-contents h5 a,
  .docs-contents h6 a {
    @apply no-underline;
  }

  .docs-contents h1 a::after,
  .docs-contents h2 a::after,
  .docs-contents h3 a::after,
  .docs-contents h4 a::after,
  .docs-contents h5 a::after,
  .docs-contents h6 a::after {
    /* The CSS variable --docs-contents-heading-link should contain an SVG
       data URI. We combine mask-image with background-color so that we can
       change the SVG path's fill color. */
    content: "";
    mask-image: var(--docs-contents-heading-link);
    @apply -mb-0.5 ml-[0.25em] inline-block h-[0.8em] w-[0.8em] bg-gray-500 fill-primary opacity-0 transition-opacity hover:opacity-100;
  }

  /* admonitions */
  .docs-contents .admonitionblock.warning {
    @apply border-alert;
  }

  .docs-contents .admonitionblock {
    @apply my-4 border-l-8 border-primary bg-gray-100 px-4 py-3;
  }

  /* admonition content */
  .docs-contents .admonitionblock .listingblock + .paragraph {
    @apply mt-2;
  }

  .docs-contents .admonitionblock .title {
    @apply font-medium;
  }

  .docs-contents .admonitionblock p:first-child {
    @apply mt-0;
  }

  .docs-contents .admonitionblock p {
    @apply my-2;
  }

  .docs-contents .admonitionblock table {
    @apply m-0 flex;
  }

  .docs-contents .admonitionblock tbody {
    @apply w-full;
  }

  .docs-contents .admonitionblock td {
    @apply p-0;
  }

  .docs-contents .admonitionblock tr {
    @apply flex flex-col;
  }

  /* listings + literals */
  .docs-contents .listingblock + .listingblock,
  .docs-contents .literalblock + .literalblock {
    @apply mt-4;
  }

  .docs-contents .listingblock,
  .docs-contents .literalblock {
    @apply flex flex-col overflow-auto rounded-sm bg-bg-code;
  }

  .docs-contents .listingblock .content,
  .docs-contents .literalblock .content {
    @apply flex flex-1;
  }

  .docs-contents .listingblock .content pre,
  .docs-contents .literalblock .content pre {
    @apply flex-1;
  }

  .docs-contents .listingblock .title,
  .docs-contents .literalblock .title {
    @apply border-b border-bg px-4 py-2 text-sm font-normal text-bg dark:border-b-2 dark:text-text;
  }

  /* code + pre */
  .docs-contents code {
    @apply leading-[1.6];
  }

  .docs-contents pre:not(:has(code)) {
    @apply px-3 py-3 text-[0.90em] text-white;
  }

  .docs-contents .admonitionblock .listingblock {
    @apply dark:border dark:border-gray-200;
  }

  /* tables */
  .docs-contents td {
    /* break at word boundaries when necessary */
    word-break: break-word;
  }

  /* callouts */
  .docs-contents .conum[data-value] {
    @apply inline-block h-4 w-4 rounded-full text-center text-xs font-normal italic text-white outline outline-1 outline-white;
  }

  .docs-contents .colist .conum[data-value] {
    @apply text-text outline-text dark:text-white dark:outline-white;
  }

  .docs-contents .conum[data-value]::after {
    content: attr(data-value);
  }

  .docs-contents .conum[data-value] + b {
    @apply hidden;
  }

  .docs-contents .listingblock + .colist {
    @apply -mt-4;
  }

  .docs-contents .colist td:not([class]):first-child {
    @apply w-6;
  }

  .docs-contents .colist td {
    @apply py-1;
  }

  .docs-contents .colist tr {
    @apply border-none;
  }

  /* blockquotes */
  .docs-contents .quoteblock {
    @apply relative block text-right;
  }

  .docs-contents .quoteblock blockquote {
    @apply relative block text-left;
  }

  .docs-contents .quoteblock blockquote:has(+ .attribution) {
    @apply mb-0;
  }

  .docs-contents .quoteblock .attribution {
    @apply inline-block text-left text-sm;
  }

  .docs-contents .quoteblock .attribution cite {
    @apply pl-[1em] text-gray-600;
  }
}
