:root {
  color-scheme: light;

  --color-primary-area: 120 43 144;
  --color-primary: 120 43 144;
  --color-primary-hover: 87 31 105;

  --color-alert: 223 69 69;
  --color-warning: 255 200 80;

  --color-gray-100: 248 249 250;
  --color-gray-200: 233 236 239;
  --color-gray-300: 222 226 230;
  --color-gray-400: 206 212 218;
  --color-gray-500: 173 181 189;
  --color-gray-600: 111 105 112;
  --color-gray-700: 77 77 77;
  --color-gray-800: 60 60 59;
  --color-gray-900: 36 36 35;
  --color-black: 0 0 0;
  --color-white: 255 255 255;

  --color-bg: 255 255 255;
  --color-bg-secondary: 236 242 248;
  --color-bg-ternary: 51 51 51;
  --color-bg-darkblue: 38 89 134;
  --color-bg-code: 58 40 64;
  --color-bg-code-highlighted: 40 54 79;
  --color-bg-code-tab-inactive: 23 16 26;
  --color-bg-code-tab-hover: 42 28 46;
  --color-bg-warning: 255 245 225;

  --color-text: 40 40 35;
  --color-code: var(--color-gray-600);
  --color-inline-code: 222 82 154;
  --color-code-container-header: var(--color-gray-200);

  --color-green-500: 104 211 145;
}

.dark {
  color-scheme: dark;

  --color-primary-area: 191 68 230;
  --color-primary: 211 75 255;
  --color-primary-hover: 219 110 255;

  --color-alert: 245 101 101;

  --color-gray-100: 62 45 72;
  --color-gray-200: 93 74 104;
  --color-gray-300: 135 113 150;
  --color-gray-400: 178 160 192;
  --color-gray-500: 215 203 224;
  --color-gray-600: 234 226 240;
  --color-gray-700: 242 237 247;
  --color-gray-800: 250 247 252;
  --color-gray-900: 253 250 255;

  --color-bg: 31 23 35;
  --color-bg-secondary: 19 20 16;
  --color-bg-ternary: var(--color-gray-700);
  --color-bg-code: var(--color-gray-100);
  --color-bg-code-highlighted: 53 66 86;
  --color-bg-code-tab-inactive: 26 16 16;
  --color-bg-code-tab-hover: 42 28 46;

  --color-text: var(--color-gray-500);
  --color-code: var(--color-gray-300);
  --color-code-container-header: var(--color-gray-700);
}
