@import "../css/variables";

.dropdown-item {
  white-space: nowrap;
  line-height: 2;
  width: 100%;
  padding: 0 $spacer;
  cursor: pointer;

  &:hover {
    background-color: $gray-200;
  }

  &.active {
    font-weight: 400;
    padding-left: $spacer * 0.75;
  }

  &:not(.active) {
    padding-left: calc(#{$spacer * 0.75} + 16px + 0.5em);
  }

  .dropdown-check-icon {
    width: 16px;
    margin-right: 0.5em;
    margin-top: 2px;
  }
}
