@import "../css/variables";

footer {
  font-size: $font-size-small;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $gray-100;
  border-top: 1px solid $gray-300;
  margin-top: 1rem;
  color: $gray-600;

  h5 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: $gray-800;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 2;
  }

  a {
    color: $gray-600;
  }

  .footer-nav-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;

    .footer-logo {
      margin-top: .4rem;

      img {
        width: 7.6rem;
        filter: grayscale(100);
        opacity: .5;
        transition: all $button-transition-time $button-transition-ease;

        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    .footer-nav-list {
      width: 20%;
    }
  }

  @media (max-width: $lg) {
    .footer-nav-section {
      .footer-nav-list {
        width: 25%;
      }
    }

    .footer-remarks {
      max-width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: $md) {
    .footer-nav-section {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: $sm) {
    .footer-nav-section {
      max-width: 80%;
      margin-bottom: 3rem;
      flex-direction: column;

      h5 {
        cursor: pointer;

        &:after {
          display: inline-block;
          content: "";
          border-top: .4em solid;
          border-right: .4em solid transparent;
          border-bottom: 0;
          border-left: .4em solid transparent;
          position: absolute;
          top: .75rem;
          right: 0;
        }
      }


      .footer-nav-list {
        width: 100%;
        position: relative;

        ul {
          overflow-y: hidden;
          max-height: 0;
          transition: max-height 200ms ease-in-out;
        }
      }

      .footer-logo {
        margin: 0 auto 3rem auto;
        width: auto;
      }
    }
  }
}
