@import "../css/variables";

.label {
  background-color: $primary;
  color: #fff;
  padding: 0.22rem 0.5rem 0.3rem 0.5rem;
  border-radius: $border-radius;

  &.small, &.tiny {
    font-size: $font-size-small;
    border-radius: $border-radius-small;
  }

  &.tiny {
    line-height: 1em;
    border-radius: $border-radius-tiny;
  }

  &.nowrap {
    white-space: nowrap;
  }
}
