@import "../css/variables";

.navbar {
  position: absolute;
  top: 2.75rem;
  width: 100%;

  a {
    color: $gray-700;

    &:hover {
      text-decoration: none;
      color: lighten($gray-700, 30);
      transition: $button-color-transition;
    }
  }

  .navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navbar-logo {
      img {
        width: 7.6rem;
      }

      flex: 1;
    }

    .navbar-right {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 10px;

      @media (max-width: $lg) {
        display: none;
      }
    }

    .navbar-menu {
      .navbar-menu-item {
        font-weight: 400;
        margin-right: $spacer * 2;
      }
    }

    .navbar-social {
      margin-left: $spacer * 1.6;
      font-size: $font-size-mini;

      .navbar-social-version {
        margin-right: $spacer / 2.4;
      }

      svg {
        height: 16px;
        margin-bottom: 2px;
      }
    }
  }
}
