@import "../../css/variables";

.docs-index {
  h2 {
    margin-bottom: $spacer * 2;
  }
}

.docs-index-main {
  display: flex;
}

.docs-index-toc {
  position: sticky;
  top: $spacer * 3;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  padding-top: $spacer * 2;
  width: 17rem;
  display: block;
  border-top: 1px solid $gray-300;

  li {
    padding: $spacer / 3 0;

    &:first-child {
      padding-top: 0;
    }
  }
}

.docs-index-section {
  border-top: 1px solid $gray-300;
  margin-top: $spacer * 4;
  padding-top: $spacer * 2;
  margin-left: $spacer * 2.5;

  &:first-child {
    margin-top: 0;
  }

  .docs-index-section-header {
    h3 {
      margin: 0;
      font-size: $font-size-small;
      text-transform: uppercase;
      font-weight: 400;
    }

    svg {
      stroke: $gray-700;
      margin-right: $spacer / 2;
    }
  }

  .docs-index-section-part {
    display: flex;
    flex-direction: column;

    h3 {
      margin: $spacer 0 0 0;
      font-size: 1.5rem;
      line-height: 1.4;

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .docs-index-section-content-summary {
      flex: 1;
    }
  }

  .docs-index-section-content {
    display: grid;
    grid-gap: $spacer * 2 $spacer * 1.5;
    flex: 1;
  }

  .docs-index-section-content-2 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  .docs-index-section-content-3 {
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }
}
