@import "../css/variables";

.cards {
  display: grid;
  grid-gap: $spacer;
  padding: 0;
  margin-top: $spacer * 1.5;

  @for $i from 1 through 12 {
    &.cards-cols-#{$i} {
      grid-template-columns: repeat($i, 1fr);

      @media (max-width: $md) {
        grid-template-columns: 1fr;
      }
    }
  }
}
