@use "sass:color";
@use "sass:math";
@import "../css/variables";

.read-more-link {
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 0.39rem solid transparent;
    border-bottom: 0.39rem solid transparent;
    border-left: 0.45rem solid $primary;
    margin-left: math.div($spacer, 2);
    margin-top: 2px;
    transition: all 100ms ease;
  }

  &:hover::after {
    border-left-color: color.adjust($primary, $lightness: -10%);
    margin-left: math.div($spacer, 3) * 2;
  }
}
