@import "../../css/variables";
@import "../../css/code";

.blog-post {
  .blog-post-main {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .blog-post-content {
      width: 70%;
      border-top: 1px solid $gray-300;

      h1 {
        line-height: 1.4;
        margin-bottom: $spacer * 2;
      }

      h2, h3, h4 {
        line-height: 1.4;
        margin-top: $spacer * 3;
      }

      pre {
        @extend .pre-code;
      }

      ul {
        padding-left: 1.1rem;
      }

      ul ul {
        padding-left: 1.3rem;
        margin-top: $spacer / 2;
        margin-bottom: $spacer;
      }

      li {
        margin-bottom: $spacer / 2;
      }
    }

    .blog-post-sidebar {
      width: calc(30% - #{$spacer * 2});
      border-top: 1px solid $gray-300;

      .blog-post-author {
        margin-top: $spacer;
        display: flex;
        align-items: center;

        &:first-child {
          margin-top: $spacer * 2;
        }

        .blog-post-author-avatar {
          width: 60px;
          height: 60px;
          border-radius: 30px;
          margin-right: $spacer / 5 * 4;
        }

        .blog-post-author-name {
          font-size: 1.2rem;
          line-height: 1.2;
          margin-bottom: $spacer / 4;

          a {
            font-weight: 400;
          }
        }
      }

      .blog-post-sidebar-date {
        margin-top: $spacer;
      }

      .blog-post-sidebar-category {
        text-transform: uppercase;
        font-weight: 400;
      }

      .blog-post-sidebar-share-icons {
        margin-top: $spacer;

        a {
          color: $gray-700;

          svg {
            transition: transform $button-transition-time $button-transition-ease;
          }

          &:hover {
            svg {
              transform: scale(1.1);
            }
          }

          &:not(:last-child) {
            margin-right: $spacer / 3 * 2;
          }
        }
      }
    }
  }

  .blog-post-next-prev {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $spacer * 4;
    border-top: 1px solid $gray-300;
    margin-top: $spacer * 6;
    padding-top: $spacer * 2;

    .blog-post-next-prev-entry {
      h5 {
        text-align: center;
      }
    }
  }

  .blog-post-related {
    padding-top: $spacer * 2;

    h5 {
      text-align: center;
    }

    .blog-post-related-posts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $spacer * 4;
    }
  }
}
