@import "./Page";
@import "../../css/code";

.docs {
  line-height: 1.7;

  .docs-content {
    .docs-search {
      position: fixed;
      top: 0;
      margin-top: 6.9rem;
      width: 14rem;
    }

    .docs-content-inner {
      & > div, h1 {
        margin-left: 16rem;
      }

      .toc {
        margin-left: 0;
      }

      h1 {
        padding-top: 0;

        &:after {
          content: "";
          width: 30%;
          display: block;
          border: 2px solid $primary;
          border-radius: 2px;
          margin-top: .5rem;
        }
      }

      .listingblock pre {
        @extend .hljs;
        border-radius: $border-radius;
        padding: $spacer;
        font-size: $font-size-small;
      }

      .ulist > ul {
        padding-left: 1.1rem;
      }

      h2 {
        border-top: 1px solid $gray-300;
        margin-top: $spacer * 5;
        padding-top: $spacer * 2;
      }

      h3, h4 {
        margin-top: $spacer * 3;
      }
    }

    .toc, .docs-content-search-results {
      font-size: $font-size-small;
      position: fixed;
      top: 0;
      bottom: 0;
      margin-top: 10rem;
      margin-left: 0;
      padding-bottom: $spacer;
      padding-right: $spacer;
      overflow: auto;

      max-width: 14rem;

      #toctitle {
        display: none;
      }

      ul {
        margin-top: 0;
        padding-left: 0;
        list-style-type: none;
      
        &.sectlevel2 {
          display: none;
        }

        li {
          padding: $spacer / 3 0;
        }
      }
    }

    .docs-content-search-results {
      display: none;
    }

    &.has-search-results {
      .toc {
        display: none;
      }

      .docs-content-search-results {
        display: block;
        list-style-type: none;
        padding: 0;

        li {
          display: block;
          padding: $spacer / 2;
          margin-bottom: $spacer;
          border-radius: $border-radius-tiny;
          border: 1px solid transparent;
          cursor: pointer;

          &:hover {
            background-color: $gray-100;
            border: 1px solid $gray-200;
          }
        }
      }
    }
  }
}
