@import "../../css/variables";

.docs-index-main {
  display: flex;

  h2 {
    margin: 0;
    padding-bottom: $spacer * 2;
  }
}

.docs-index-aside-main {
  position: sticky;
  top: $spacer * 6;

  @media (max-width: $md) {
    display: none;
  }
}

.docs-index-aside-content {
  border-top: 1px solid $gray-300;
}

.docs-index-toc {
  margin-top: $spacer * 2;
  width: 17rem;
  max-height: calc(100vh - #{$spacer * 13.5} + 1px);
  overflow-y: auto;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;

    li {
      padding: $spacer / 3 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.docs-index-content {
  margin-left: $spacer * 2.5;

  @media (max-width: $md) {
    margin-left: 0;
  }

  h2 {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .docs-index-content-heading {
      visibility: hidden;

      @media (max-width: $md) {
        visibility: visible;
      }
    }

    .docs-index-content-version {
      font-size: $font-size-base * 1.25;
      color: $gray-700;
    }
  }
}

.docs-index-section {
  border-top: 1px solid $gray-300;
  margin-top: $spacer * 4;
  padding-top: $spacer * 2;

  &:first-of-type {
    margin-top: 0;
  }

  .docs-index-section-header {
    h3 {
      margin: 0;
      font-size: $font-size-small;
      text-transform: uppercase;
      font-weight: 400;
    }

    svg {
      stroke: $gray-700;
      margin-right: $spacer / 2;
    }
  }

  .docs-index-section-part {
    display: flex;
    flex-direction: column;

    h3 {
      margin: $spacer 0 0 0;
      font-size: 1.5rem;
      line-height: 1.4;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      .docs-index-section-part-label {
        margin-top: $spacer / 4;
        margin-left: $spacer / 3 * 2;

        @media (max-width: $xl) {
          margin-left: 0;
        }

        @media (max-width: $lg) {
          margin-left: $spacer / 3 * 2;
        }
      }

      @media (max-width: $xl) {
        flex-direction: column;
      }

      @media (max-width: $lg) {
        flex-direction: row;
      }
    }

    .docs-index-section-content-summary {
      flex: 1;
    }
  }

  .docs-index-section-content {
    display: grid;
    grid-gap: $spacer * 2 $spacer * 1.5;
    flex: 1;
  }

  .docs-index-section-content-2 {
    grid-template-columns: 1fr 1fr;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }
}
