@import "./Page";
@import "../../css/code";

.docs {
  .docs-content {
    .docs-content-wrapper {
      display: flex;
      justify-content: space-between;

      aside {
        flex: 0 0 17rem;

        .docs-content-wrapper-sidebar {
          position: sticky;
          top: 7em;
        }

        .search-panel {
          margin-top: 1rem;
          width: 100%;

          .search-results {
            max-height: calc(100vh - 10rem - 1px);
          }
        }

        .docs-content-toc {
          margin-top: 1rem;

          .toc {
            overflow-y: auto;
            max-height: calc(100vh - 10rem - 3px);
          }

          #toctitle {
            display: none;
          }

          ul {
            margin-top: 0;
            padding-left: 0;
            list-style-type: none;

            &.sectlevel2 {
              display: none;
            }

            li {
              padding: $spacer / 3 0;
            }
          }
        }

        &.docs-has-search-results .docs-content-toc {
          display: none;
        }
      }
    }

    .docs-content-inner {
      max-width: calc(100% - 19.5rem);

      h1 {
        padding-top: 0;
        margin-top: 0;

        &:after {
          content: "";
          width: 30%;
          display: block;
          border: 2px solid $primary;
          border-radius: 2px;
          margin-top: .5rem;
        }
      }

      .listingblock pre {
        @extend .hljs;
        border-radius: $border-radius;
        padding: $spacer;
        font-size: $font-size-small;
        margin: $spacer * 1.5 0;
      }

      .ulist > ul {
        padding-left: 1.1rem;
      }

      h2 {
        border-top: 1px solid $gray-300;
        margin-top: $spacer * 5;
        padding-top: $spacer * 2;
      }

      h3, h4 {
        margin-top: $spacer * 3;
      }
    }

    .admonitionblock {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background-color: $gray-100;
      padding: $spacer;
      margin: $spacer * 1.5 0;
      border-left: 9px solid transparent;

      &.note, &.tip {
        border-color: #6cb9f0;
      }

      &.important, &.warning, &.caution {
        border-color: #f0a46c;
      }

      tr {
        display: flex;
        flex-direction: column;
      }

      .title {
        font-weight: 400;

        &:after {
          content: ":";
        }
      }
    }

    dt {
      font-weight: 400;
    }
  }
}
