@import "../../css/variables";

.get-started {
  .get-started-step {
    display: inline-flex;
    background-color: $primary;
    color: #fff;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    border-radius: $border-radius;
    margin-right: $spacer;
  }

  .get-started-screenshot {
    margin: $spacer * 2 auto;
    display: block;
    border: 1px solid $gray-300;
    box-shadow: $button-box-shadow;
    padding: $spacer;
    width: 600px;
    max-width: 100%;

    img {
      margin: 0;
      width: auto;
      max-width: 100%;
    }
  }

  .get-started-next-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $spacer;
    list-style-type: none;
    padding: 0;
    margin-top: $spacer * 1.5;

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }

    li {
      border: 1px solid $gray-300;
      border-radius: $border-radius;
      padding: $spacer * 1.5 $spacer * 1.5 $spacer * 2 $spacer * 1.5;
      cursor: pointer;
      transition: $button-border-color-transition;

      h4 {
        margin: 0 0 0.5rem 0;
        font-size: 1.25rem;
        color: $primary;
      }
    }

    a {
      color: $gray-800;
      text-decoration: none;

      &:hover li {
        border-color: $primary;
      }
    }
  }
}
