@import "../../css/variables";

.guide {
  :global(h1) {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  :global(h2) {
    border-top: 1px solid $gray-300;
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
  }

  :global(ul) {
    padding-left: 1.1rem;
  }

  :global(img) {
    max-width: 100%;
    height: auto;
    margin: $spacer * 2 auto;
    width: 40rem;
    display: block;
  }
}
