@import "../../css/variables";
@import "../../css/code";

.guide {
  h1 {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  h2 {
    border-top: 1px solid $gray-300;
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
  }

  ul {
    padding-left: 1.1rem;
  }

  pre {
    @extend .pre-code;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: $spacer * 2 auto;
    width: 40rem;
    display: block;
  }
}
